@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 style="color:blue">Welcome to Sample Web App Github</h2>
    <p style="color:green;font-size:25px">
        This is a great websites to learn .NET texh stack!
    </p>
</div>
